[Unit]
Description=istio-node-agent: The Istio node agent
Documentation=http://istio.io/

[Service]
ExecStart=/usr/local/bin/istio-node-agent --ca-address=istio-ca:8060 --env=0 --alsologtostder --service-identity=spiffe://cluster.local/ns/default/sa/default
Restart=always
StartLimitInterval=0
RestartSec=10

[Install]
WantedBy=multi-user.target
