[Unit]
Description=istio-node-agent: The Istio node agent
Documentation=http://istio.io/

[Service]
ExecStart=/usr/local/bin/istio-auth-agent
Restart=always
StartLimitInterval=0
RestartSec=10

[Install]
WantedBy=multi-user.target
